*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("pratoitalia.jpg");
    background-color: #4d4b4b55;
    background-blend-mode: darken;
    background-size: cover;
    background-position: right top;
    display: flex;
    overflow-x: hidden;
}

header{
    /* background-color: #575656aa; */
    height: 120px;
    width: 2000px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.logo img{
    width: 95px;
    filter: brightness(100);
    display: block;
	left:50%;
	top:50%;
    margin-left: -4px;
    margin-top: -25px;
}

.links ul {
    display: flex;
    gap: 20px;
    color: white; 
    list-style-type: none;
    position:fixed;
    left: 35%;
}

.links a{
    color: white;
    text-decoration: none;
    font-family: 20px;
    user-select: none;
    transition: all 0,5s;
}

.links a:hover {
    color: rgb(233, 160, 66);
}


/* .div {
    position: absolute;
    width: 60px;
    top: 90vh;
    left: 90vw;
    filter: brightness(10%);
} */

/* .div {
    filter: brightness(0);
} */

style
 		p{
 			font-size:26px;
 		}
 
 		svg{
 			display:inline-block;
 			font-size: inherit;
 			height: 1em;
 			overflow: visible;
 			vertical-align: -.125em;
            color: white;
 		}


main{
    padding:  20vh 10vw;
    flex-grow: 1;
    color: white;
    align-items: center;
    position:absolute;
    display: block;
	left:50%;
	top:50%;
    margin-left: -675px;
    margin-top: -270px;
}

main h2{
    font-size: 30px;
    font-family: 'Thasadith', sans-serif;
    color: rgb(233, 160, 66);
}

main h1{
    font-size: 70px;
    font-family: 'Proza Libre', sans-serif;
}

main a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 250px;
    height: 50px;
    background-color: #000000AA;
    margin-top: 50px;
    border-radius: 9px;
    user-select: none;
    transition: all .3s;
    display:inline;
    float:left;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 7px;
    padding-top: 7px;
}

main a:hover{
    border: solid 1px rgb(95, 94, 91);
    background-color: rgb(238, 120, 66);
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    color: white;
    left:45%;
	top:95%;
}
